<ion-header>
  <ion-toolbar>
    <ion-title>{{correctString(pokemon.name)}} <span style="opacity: 0.4;">#{{pokemon.id}}</span></ion-title>
    <ion-button slot="end" fill="clear" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <app-cover [pokemon]="pokemon" [detail]="true"></app-cover>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="about">
        <ion-label>About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="abilities">
        <ion-label>Abilities</ion-label>
      </ion-segment-button>
      <ion-segment-button value="stats">
        <ion-label>Stats</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card-header>


  <div [ngSwitch]="content">
    <div *ngSwitchCase="'about'">
      <ion-chip *ngFor="let type of pokemon.types">{{type.type.name}}</ion-chip>

    </div>

    <div *ngSwitchCase="'abilities'">
      <ion-list>
        <ion-card *ngFor="let ability of abilities">
          <ion-card-title>{{correctString(ability.name)}}</ion-card-title>
          <ion-card-subtitle>{{ability.effect_entries[1].effect}}</ion-card-subtitle>
        </ion-card>
      </ion-list>
    </div>

    <div *ngSwitchCase="'stats'">
      <ion-list>
        <ion-item *ngFor="let stat of pokemon.stats">
          <ion-label slot="start">{{correctString(stat.stat.name)}} {{stat.base_stat}}</ion-label>
          <ion-progress-bar [value]="stat.base_stat/200"></ion-progress-bar>
        </ion-item>
      </ion-list>
    </div>
  </div>





</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="getNextPokemon(pokemon.id-1)" [disabled]="pokemon.id === 1" slot="start" fill="clear">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button (click)="getNextPokemon(pokemon.id+1)" slot="end" fill="clear">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
